@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@media screen and (min-width: 415px){
  .site-container {
    flex-direction: column;
    flex: 1;
  }
}

.App {
  display: flex;
  border-style: solid ;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 850px;
  height: 600px;
  margin: 50px auto;
  text-transform: capitalize;
  background-color: #ff0000;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}

* {
  box-sizing: border-box;
  size: 100%;
}


body {
  margin: 0%;
  text-transform: capitalize;
  padding: 150px;
  font-family: 'Press Start 2P', cursive;
  font-size: 45%;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  object-fit:cover;
  background-size: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 10%;
  overflow: hidden;

}

/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  border-radius: 10px;
  background-image: url(C:\Users\Keira\Documents\CodeNation\Pokemon\pokemon\src\ball.png);
  background-size: 100%;
  object-fit:contain;
  background-position: center;
}

h1,
h2,
h3,
h4,
p {
  font-size: 20px;
  margin: 0;
}